.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*

.sass-cache

/api/app/Config/core.php
/api/app/Config/database.php
/api/lib/Cake/Console/Templates/skel/tmp/
/api/vendors
/api/build
/api/dist
/api/tags