<div class="row padded">
    <div class="small-12 columns">Groups you have balances in</div>
</div>
<table class="row small-12 columns balances-table">
    <tr ng-repeat="balance in balances">
        <td class="title"><a href="#/balances/{{ balance.borrower_id }}">{{ balance.group.title }}</a></td>
        <td class="amount {{ balance.klass }}">{{ balance.balance }}</td>
    </tr>
    <tr ng-repeat="balance in groupBalances">
        <td class="title"><a href="#/group-balances/{{ balance.group.id }}">{{ balance.group.title }}</a></td>
        <td class="amount {{ balance.klass }}">{{ balance.balance }}</td>
    </tr>
</table>