<form novalidate class="add-form" ng-model="transaction">
    <div class="row padded">
        <input type="text" ng-model="transaction.title" placeholder="Give it a name" class="small-6 columns" />
        <input type="number" ng-model="transaction.total_amount" placeholder="How much was it?" class="small-6 columns" />
        <input type="text" placeholder="Who should be included?" class="small-12 columns" autocomplete list="availableUsers" />
        <table class="row small-12 columns subtransactionusers-table">
            <tr ng-repeat="subTransactionUser in subTransactionUsers">
                <td><img src="http://graph.facebook.com/{{ subTransactionUser.value }}/picture" ng-show="subTransactionUser.value" class="user-thumbnail"/></td>
                <td>{{ subTransactionUser.label }}</td>
                <td>
                    <input type="hidden" ng-model="transaction.subTransactions[subTransactionUser.value].id" value="{{ subTransactionUser.value }}" />
                    <input type="hidden" ng-model="transaction.subTransactions[subTransactionUser.value].name" value="{{ subTransactionUser.label }}" />
                    <input type="number" ng-model="transaction.subTransactions[subTransactionUser.value].amount" placeholder="Amount?" />
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="row">
    <button ng-click="newTransaction(transaction)" class="button small-12 columns"><i class="foundicon-plus"></i>Add it!</button>
</div>
