<form novalidate class="add-form" ng-model="transaction">
    <div class="row padded">
        <input type="hidden" ng-model="transaction.payer_id" />
        <input type="text" ng-model="transaction.title" placeholder="Give it a name" class="small-6 columns" />
        <input type="number" ng-model="transaction.total_amount" placeholder="How much was it?" class="small-6 columns" />
        <input type="hidden" ng-model="transaction.group_id" value="{{ transaction.group_id }}"></select>
        <input type="text" placeholder="Who should be included?" class="small-12 columns" autocomplete list="availableUsers" />
        <table class="row small-12 columns subtransactionusers-table">
            <tr ng-repeat="subTransaction in transaction.subTransactions">
                <td><img src="http://graph.facebook.com/{{ subTransaction.value }}/picture" ng-show="subTransaction.value" class="user-thumbnail"/></td>
                <td>{{ subTransaction.label }}</td>
                <td>
                    <input type="hidden" ng-model="subTransaction.value" value="{{ subTransaction.value }}" />
                    <input type="hidden" ng-model="subTransaction.label" value="{{ subTransaction.label }}" />
                    <input type="number" ng-model="subTransaction.amount" ng-change="updateAmount()" placeholder="Amount?" />
                </td>
                <td>
                    <button class="button small" ng-click="removeSubTransaction(subTransaction.value)"><i class="foundicon-remove"></i></button>
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="row">
    <button ng-click="newTransaction(transaction)" class="button small-12 columns"><i class="foundicon-plus"></i>Add it!</button>
</div>
