<div class="row padded">
    <div class="small-12 columns">Balances</div>
</div>
<h4>Groups</h4>
<table class="row small-12 columns balances-table">
    <tr ng-repeat="balance in groupBalances">
        <td class="title"><a href="#/group-balances/{{ balance.group.id }}">{{ balance.group.title }}</a></td>
        <td class="amount {{ balance.klass }}">{{ balance.balance }}</td>
    </tr>
</table>
<h4>Friends</h4>
<table class="row small-12 columns balances-table">
    <tr ng-repeat="balance in balances">
        <td class="title">
            <a href="#/balances/{{ balance.borrower.facebook_id }}">
            <img ng-src="http://graph.facebook.com/{{ balance.borrower.id }}/picture" class="user-thumbnail"/>{{ balance.borrower.first_name }} {{ balance.borrower.last_name }}</a></td>
        <td class="amount {{ balance.klass }}">{{ balance.balance }}</td>
    </tr>
</table>
