<form novalidate class="add-form" ng-model="transaction">
    <div class="row padded">
        <input type="hidden" ng-model="transaction.payer_id" />
        <input type="text" ng-model="transaction.title" placeholder="Give it a name" class="small-6 columns" />
        <input type="number" ng-model="transaction.total_amount" placeholder="How much was it?" class="small-6 columns" ng-change="updateAmounts()" />
        <input type="hidden" ng-model="transaction.group_id" value="{{ transaction.group_id }}"></select>
        <input type="text" placeholder="Who should be included?" class="small-12 columns" autocomplete list="availableUsers" />
        <table class="row small-12 columns subtransactionusers-table">
            <tr ng-repeat="subTransaction in transaction.subTransactions">
                <td><img ng-src="http://graph.facebook.com/{{ subTransaction.borrower_id }}/picture" ng-show="subTransaction.borrower_id" class="user-thumbnail"/></td>
                <td>{{ subTransaction.borrower_name }}</td>
                <td>
                    <input type="hidden" ng-model="subTransaction.borrower_id" value="{{ subTransaction.borrower_id }}" />
                    <input type="hidden" ng-model="subTransaction.borrower_name" value="{{ subTransaction.borrower_name }}" />
                    <input type="number"class="amount-input" ng-model="subTransaction.amount" ng-change="updateAmounts()" placeholder="{{subTransaction.split_amount}}" />
                </td>
                <td>
                    <button class="button small secondary remove-subtransaction" ng-click="removeSubTransaction(subTransaction.borrower_id)"><i class="foundicon-remove"></i></button>
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="row">
    <button ng-click="newTransaction()" class="button small-12 columns"><i class="foundicon-plus"></i>Add it!</button>
</div>
