<form novalidate class="add-form" ng-model="group">
    <div class="row padded">
        <h5>Create new group</h5>
        <input type="hidden" ng-model="group.payer_id" />
        <input type="text" ng-model="group.title" placeholder="Give it a name" class="small-6 columns" value="{{ group.title }}" />
        <input type="text" placeholder="Who should be included?" class="small-12 columns" autocomplete list="availableUsers" />
        <table class="row small-12 columns subgroupusers-table">
            <tr ng-repeat="member in group.members">
                <td><img ng-src="http://graph.facebook.com/{{ member.id }}/picture" ng-show="member.id" class="user-thumbnail"/></td>
                <td>{{ member.name }}</td>
                <td>
                    <input type="hidden" ng-model="member.id" value="{{ member.id }}" />
                    <input type="hidden" ng-model="member.user_name" value="{{ member.user_name }}" />
                </td>
                <td>
                    <button class="button small secondary remove-subtransaction" ng-click="removeUser(member)"><i class="foundicon-remove"></i></button>
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="row">
    <button ng-click="newGroup()" class="button small-12 columns"><i class="foundicon-plus"></i>Add it!</button>
</div>
